<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thoughtworks.com.androidstarter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Practice.MainActivity" />
        <activity
            android:name=".Practice.DisplayMessageActivity"
            android:parentActivityName=".Practice.MainActivity" />
        <activity android:name=".activities.CategoriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TagsActivity"
            android:parentActivityName=".activities.CategoriesActivity"/>
        <activity
            android:name=".activities.SongsActivity"
            android:parentActivityName=".activities.TagsActivity"/>
    </application>

</manifest>